layout('../imodal/content');

<script>
  var whenModalClosed = null;
  $(window).load(function () {
    var $table = $("#object-list");
    var $box = $table.closest(".panel");
    var $tools = $box.find(".list-tools");
    var $imodalFrame = $('#imodal-frame');
    var dataTable = $table.DataTable($.extend({
      scrollX: true,
      serverSide: true,
      processing: true,
      ajax: {
        url: 'registry/api/<%-fetchPath%>',
        type: 'POST'
      },
      searching: true
    },<%- JSON.stringify(TableOptions) %>));

    function adjustTools(){
      if ($table.find(".selected").length > 0){
        if ($table.find(".selected").length === 1) {
          $tools.find(".edit-btn").show();
        } else {
          $tools.find(".edit-btn").hide();
        }
        $tools.find(".delete-btn").show();
      } else {
        $tools.find(".edit-btn").hide();
        $tools.find(".delete-btn").hide();
      }
    }

    $table.on("click", "tr", function(){
      $(this).toggleClass("selected");
      adjustTools();
    });

    $table.on("order.dt search.dt",adjustTools);

    $tools.find(".add-btn").click(function() {
      whenModalClosed = function () {
        console.log("closed");
        console.log(this.result);
        if (this.result && this.result.length > 0) {
          var newItems = [];
          for (var i = 0; i < this.result.length; i++){
            newItems.push(this.result[i]._id);
          }
          $.ajax({
            url: "registry/api/<%= collectionParams.classname %>/<%= collectionParams.id %>/<%= collectionParams.property %>/add",
            method:"POST",
            headers:{
              "Content-Type":"application/json"
            },
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({'newItems':newItems})
          }).done(function(results){
            dataTable.ajax.reload();
          }).fail(function(){
            // TODO handle 500 error
          });
        }
        whenModalClosed = null;
      };

      $imodalFrame.one("load", function () {
        $imodalFrame.addClass("active");
      }).attr("src", "registry/<%- pageCode %>/<%= collectionParams.classname %>/<%= collectionParams.property %>/select");
    });

    <%
    if (modal) {
    %>
    $tools.find(".close-btn").show();
    <%
      }
    %>

    $tools.find(".create-btn").click(function(){
      whenModalClosed = function(){
        if (this.result) {
          var newItems = [];
          newItems.push(this.result.id);
          $.ajax({
            url:"registry/api/<%= collectionParams.classname %>/<%= collectionParams.id %>/<%= collectionParams.property %>/add",
            method:"POST",
            headers:{
              "Content-Type":"application/json"
            },
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({'newItems':newItems})
          }).done(function(results){
            dataTable.ajax.reload();
          }).fail(function(){
            // TODO handle 500 error
          });
        }
        whenModalClosed = false;
      };

      $imodalFrame.one("load", function(){
        $imodalFrame.addClass("active");
      }).attr("src","registry/<%- pageCode %>/new/<%= collectionParams.collectionClassname %>");
    }).show();

    $tools.find(".edit-btn").click(function(){
      var rows = dataTable.rows('.selected');
      var data = rows.data();
      if (data.length === 1) {
        whenModalClosed = function(){
          whenModalClosed = false;
          dataTable.ajax.reload();
        };

        $imodalFrame.one("load", function(){
          $imodalFrame.addClass("active");
        }).attr("src","registry/<%- pageCode %>/view/" + data[0]._class + "/" + data[0]._id);
      } else {
        alert('<%=__('templates.default.view.collection.chooseObject')%>');
      }
    });

    $tools.find(".delete-btn").click(function(){
      var rows = dataTable.rows('.selected');
      var data = rows.data();
      var toDelete = [];
      for (var i = 0; i < data.length; i++) {
        toDelete.push(data[i]._id);
      }
      $.ajax({
        url:"registry/api/<%= collectionParams.classname %>/<%= collectionParams.id %>/<%= collectionParams.property %>/remove",
        method:"POST",
        headers:{
          "Content-Type":"application/json"
        },
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify({ items: toDelete })
      }).done(function(deleted){
        dataTable.ajax.reload();
      }).fail(function(){

      });
    });

    $tools.find(".reload-btn").click(function(){dataTable.ajax.reload();});
  });
</script>

    <div id="panel-1" class="panel panel-default">
      <div class="panel-body">
        <div class="list-tools">
          <button class="add-btn btn btn-primary">
            <%=__('templates.default.view.collection.add')%>
          </button>
          <button class="create-btn btn btn-success command-btn" title="Создать" data-id="CREATE" style="display:none;">
            <%=__('templates.default.view.collection.create')%>
          </button>
          <button class="edit-btn btn btn-info command-btn" title="Редактировать" data-id="EDIT" style="display:none;">
            <%=__('templates.default.view.collection.edit')%>
          </button>
          <button class="delete-btn btn btn-danger command-btn" title="Удалить" data-id="DELETE" style="display:none;">
            <%=__('templates.default.view.collection.delete')%>
          </button>
          <button class="close-btn btn btn-default modal-closer" title="Закрыть" style="display:none;">
            <%=__('templates.default.view.collection.close')%>
          </button>
          <button class="reload-btn btn btn-default" title="<%=__('templates.default.view.collection.refresh')%>">
            <span class="fa fa-refresh"></span>
          </button>
        </div>
        <div id="list-filter" class="list-filter" data-table="ion_filter" style="display:none">

          <input type="hidden" id="cls_filter" value=""/>

          <div class="filter-tools">
            <select class="select-filter form-control ml10">
              <option value>
                <%=__('templates.default.view.collection.selectFilter')%>
              </option>
            </select>
            <button class="create-filter btn btn-success ml5" title="<%=__('templates.default.view.collection.createFilter')%>">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="update-filter btn btn-info" title="<%=__('templates.default.view.collection.updateFilter')%>">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="reset-filter btn btn-warning" title="<%=__('templates.default.view.collection.resetFilter')%>">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>

          <div class="filter-condition row sample">

            <div class="col-sm-5">
              <select class="select-column form-control">
                <option value>
                  <%=__('templates.default.view.collection.selectColumn')%>
                </option>
              </select>
            </div>

            <div class="col-md-2 col-sm-3">
              <select class="number select-operation form-control">
                <option value="0">=</option>
                <option value="1">!=</option>
                <option value="5"><</option>
                <option value="6">></option>
                <option value="7">=></option>
                <option value="8"><=</option>
                <option value="9"><%=__('templates.default.view.collection.operation.max')%></option>
                <option value="10"><%=__('templates.default.view.collection.operation.min')%></option>
              </select>
              <select class="date select-operation form-control">
                <option value="0">=</option>
                <option value="1">!=</option>
                <option value="5"><</option>
                <option value="6">></option>
                <option value="7">=></option>
                <option value="8"><=</option>
                <option value="9"><%=__('templates.default.view.collection.operation.max')%></option>
                <option value="10"><%=__('templates.default.view.collection.operation.min')%></option>
              </select>
              <select class="string select-operation form-control">
                <option value="0"><%=__('templates.default.view.collection.operation.eq')%></option>
                <option value="20"><%=__('templates.default.view.collection.operation.in')%></option>
                <option value="9"><%=__('templates.default.view.collection.operation.max')%></option>
                <option value="10"><%=__('templates.default.view.collection.operation.min')%></option>
              </select>
            </div>

            <div class="col-sm-4">
              <input class="checkbox select-value" type="checkbox" data-type="checkbox">
              <input class="date select-value form-control form-datepicker" type="text" placeholder="<%=__('templates.default.view.collection.selectDate')%>" readonly>
              <input class="number select-value form-control" type="number" pattern="[0-9]+([\.|,][0-9]+)?" placeholder="<%=__('templates.default.view.collection.selectNumber')%>">
              <input class="string select-value form-control" type="text" placeholder="<%=__('templates.default.view.collection.selectValue')%>">
            </div>

            <div class="col-sm-1">
              <span class="remove-condition glyphicon glyphicon-remove text-danger"></span>
            </div>
          </div>

          <div class="filter-condition-list"></div>

          <div class="filter-controls">
            <button class="add-condition btn btn-success" title="<%=__('templates.default.view.collection.success')%>">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="assign-filter btn btn-primary"><%=__('templates.default.view.collection.apply')%></button>
            <label class="filter-global control-label"><input class="filter-global-checkbox" type="checkbox"> <%=__('templates.default.view.collection.allClasses')%></label>
            <input type="text" class="form-control filter-name" placeholder="<%=__('templates.default.view.collection.filterName')%>">
            <button class="save-filter btn btn-info" title="<%=__('templates.default.view.collection.saveFilterTitle')%>">
              <%=__('templates.default.view.collection.saveFilter')%>
            </button>
            <button class="remove-filter btn btn-link text-danger ml10" title="<%=__('templates.default.view.collection.delFilter')%>">
              <%=__('templates.default.view.collection.delFilter')%>
            </button>
            <i class="filter-loader fa fa-refresh fa-spin"></i>
          </div>

        </div>
        <table id="object-list" class="table table-striped table-bordered table-hover multi-selectable">
        </table>
        <div class="attr-edit-btn" title="<%=__('templates.default.view.collection.editFilter')%>" style="display: none;">
          <span class="glyphicon glyphicon-edit text-info"></span>
        </div>
      </div>
      <div class="panel-footer"></div>
    </div>