<% layout('./layout') -%>

<section id="middle">

  <header id="page-header">
    <h1>Set user password <%=user.name()%></h1>
    <ol class="breadcrumb">
      <li><a href="/<%=module%>"><i class="fa fa-dashboard"></i> Home</a></li>
      <%- blocks.breadcrumbs %>
    </ol>
  </header>
  <div class="padding-15">
    <div class="login-box">
      <% if(errors.length) { %>
      <div id="error" class="alert alert-danger">
        <% errors.forEach(function(error){ %>
        <p><%= error %></p>
        <% }); %>
      </div>
      <% } %>
      <form action="/<%=module%>/chpwd" method="post" id="reg-form" class="profile-form boxed">
        <fieldset>
          <section>
            <label class="label">Password</label>
            <label class="input"><input type="password" name="password" placeholder="password" class="input password"></label>
          </section>
          <section>
            <label class="label">Repeat password</label>
            <label class="input"><input type="password" name="password2" placeholder="repeat password" class="input password"></label>
          </section>
        </fieldset>
        <footer>
          <button id="submit-btn" type="submit" class="btn btn-primary pull-right">Change Password</button>
        </footer>
      </form>
    </div>
  </div>
  <script>
    jQuery(function(){
      var options = <%- JSON.stringify(options)%>;
      var $msgContainer = $('div.msg-container');
      var $submit = $('button#submit-btn');
      var $regForm = $('form#reg-form');
      var $pwd = $regForm.find('input[name="password"]');
      var $pwd2 = $regForm.find('input[name="password2"]');
      $submit.click(function(){
        $msgContainer.empty();
        var pwd = $pwd.val();
        var pwd2 = $pwd2.val();
        var valid = true;
        var messages = [];
        if (pwd && pwd2 && pwd === pwd2) {
          if (options.pwdMinLength) {
            if (pwd.length < options.pwdMinLength) {
              valid = false;
              messages.push('Minimum password length ' + options.pwdMinLength + ' of symbols');
            }
          }
        } else {
          valid = false;
          messages.push('Wrong repeat password');
        }
        if (valid) {
          $regForm.submit();
          $msgContainer.empty();
        } else if (messages.length) {
          for (var i = 0; i < messages.length; i++) {
            $('<div/>').addClass('error-msg').html(messages[i]).appendTo($msgContainer);
          }
        }
      });
    });
  </script>
</section>
