<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %>: <%=__('templates.default.login.title')%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <base id="baseUrl" href="<%= baseUrl %>">
    <link href="<%=module%>/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="<%=module%>/vendor/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css">
    <link href="<%=module%>/vendor/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <link href="<%=module%>/vendor/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="<%=module%>/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css">
    <link href="<%=module%>/vendor/icheck/skins/flat/grey.css" rel="stylesheet" type="text/css">
    <link href="<%=module%>/js/plugins/styleswitcher/styleswitcher.css" rel="stylesheet" type="text/css">
    <link href="<%=module%>/css/essentials.css" rel="stylesheet" type="text/css">
    <link href="<%=module%>/css/layout.css" rel="stylesheet" type="text/css">
    <link href="<%=module%>/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme">
    <link href="<%=module%>/css/common.css" rel="stylesheet" type="text/css">
</head>
  <body>

  <div class="padding-15">
    <div class="login-box">
      <% if(errors.length) { %>
        <div id="error" class="alert alert-danger">
        <% errors.forEach(function(error){ %>
        <p><%= error %></p>
        <% }); %>
        </div>
      <% } %>
      <!-- login form -->
      <form action="<%=module%>/auth" method="post" class="profile-form boxed">
        <header><i class="fa fa-users"></i> <%=__('templates.default.login.title')%></header>
        <input type="hidden" name="timezone" value="" />
        <fieldset>
          <section>
            <label class="label"><%=__('templates.default.login')%></label>
            <label class="input">
              <i class="icon-append fa fa-user"></i>
              <input id="username" type="login" name="username">
            </label>
          </section>

          <section>
            <label class="label"><%=__('templates.default.password')%></label>
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input id="password" type="password" name="password">
            </label>
          </section>
        </fieldset>

        <footer>
          <button id="authbutton" type="submit" class="btn btn-primary pull-right"><%=__('templates.default.login.signin')%></button>
          <div class="forgot-password pull-left">
            <% if (canRegister) { %><a href="<%=module%>/register"><b><%=__('templates.default.login.register')%></b></a><% } %>
          </div>
        </footer>
      </form>
    </div>
  </div>

<script src="<%=module%>/vendor/jquery/dist/jquery.min.js"></script>
<script src="<%=module%>/vendor/jquery-ui/dist/jquery-ui.min.js"></script>
<script src="<%=module%>/vendor/moment/min/moment.min.js"></script>
<script src="<%=module%>/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="<%=module%>/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="<%=module%>/vendor/icheck/icheck.min.js" type="text/javascript"></script>
<script>
  var plugin_path = '<%=baseUrl%><%=module%>/js/plugins/';
</script>
<script src="<%=module%>/js/common.js"></script>
<script>
    $(function () {
      $('input[name=timezone]').val(moment.tz.guess());
    });
</script>
  <%- typeof pageEndContent !== 'undefined' ? pageEndContent : "" %>
</body>
</html>
