<!-- calendar -->
<%
  var value = prop.getValue();
  value = value ? JSON.stringify(value) : '';
%>
<style type="text/css">
  .event-item {
    padding: 2px;
  }

  .event-item button {
    margin-left: 5px;
  }
</style>
<div class="form-group <%=cssFromTags(field)%>" style="<%=styleFromTags(field)%>" data-type="calendar">
  <label for="<%= id %>" class="col-md-2 col-sm-3 control-label"><%= field.caption %><% include help-sign %></label>
  <div class="col-md-10 col-sm-9">
    <input type="hidden" id="<%= id %>" name="<%= prop.getName() %>" class="attr-value" value="<%= value %>" />
    <select class="month-select">
      <option value="0"><%=__('templates.default.attrs.calendar.jan')%></option>
      <option value="1"><%=__('templates.default.attrs.calendar.feb')%></option>
      <option value="2"><%=__('templates.default.attrs.calendar.mar')%></option>
      <option value="3"><%=__('templates.default.attrs.calendar.apr')%></option>
      <option value="4"><%=__('templates.default.attrs.calendar.may')%></option>
      <option value="5"><%=__('templates.default.attrs.calendar.jun')%></option>
      <option value="6"><%=__('templates.default.attrs.calendar.jul')%></option>
      <option value="7"><%=__('templates.default.attrs.calendar.aug')%></option>
      <option value="8"><%=__('templates.default.attrs.calendar.sep')%></option>
      <option value="9"><%=__('templates.default.attrs.calendar.oct')%></option>
      <option value="10"><%=__('templates.default.attrs.calendar.nov')%></option>
      <option value="11"><%=__('templates.default.attrs.calendar.dec')%></option>
    </select>
    <button class="year-calendar-opener btn btn-default"><%=__('templates.default.attrs.calendar.year')%></button>
    <div class="month-calendar"></div>

    <div class="imodal-frame year-calendar-frame">
      <div class="imodal-box">
        <div class="imodal-box-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="imodal-box-title">
            <span><%=__('templates.default.attrs.calendar.schedule')%></span>
          </h3>
        </div>

        <div class="imodal-box-body">
          <div class="year-calendar"></div>
        </div>
      </div>
    </div>

    <div class="imodal-frame event-frame">
      <div class="imodal-box">
        <div class="imodal-box-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h3 class="imodal-box-title">
            <span><%=__('templates.default.attrs.calendar.schedule')%></span>
          </h3>  
        </div>
        <div class="imodal-box-body">

          <input type="hidden" name="event-index" value="">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-4 control-label"><%=__('templates.default.attrs.calendar.description')%></label>
              <div class="col-sm-7">
                <input name="sch-description" type="text" class="form-control">
              </div>
            </div>

            <div class="well form-struct event-form">
              <label><%=__('templates.default.attrs.calendar.event')%></label>

              <div class="form-group">
                <label class="col-sm-4 control-label"><%=__('templates.default.attrs.calendar.type')%></label>
                <div class="col-sm-7">
                  <select class="form-control" name="event-type">
                    <option selected value="occurs"><%=__('templates.default.attrs.calendar.event')%></option>
                    <option value="skipped"><%=__('templates.default.attrs.calendar.skip')%></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><%=__('templates.default.attrs.calendar.exception')%></label>
                <div class="col-sm-7">
                  <input name="event-duration" type="number" class="form-control event-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><%=__('templates.default.attrs.calendar.year')%></label>
                <div class="col-sm-7">
                  <input name="event-year" type="number" class="form-control event-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><%=__('templates.default.attrs.calendar.month')%></label>
                <div class="col-sm-7">
                  <input name="event-month" type="number" class="form-control event-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><%=__('templates.default.attrs.calendar.weekday')%></label>
                <div class="col-sm-7">
                  <input name="event-weekday" type="number" class="form-control event-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><%=__('templates.default.attrs.calendar.day')%></label>
                <div class="col-sm-7">
                  <input name="event-day" type="number" class="form-control event-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><%=__('templates.default.attrs.calendar.hour')%></label>
                <div class="col-sm-7">
                  <input name="event-hour" type="number" class="form-control event-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><%=__('templates.default.attrs.calendar.min')%></label>
                <div class="col-sm-7">
                  <input name="event-minute" type="number" class="form-control event-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><%=__('templates.default.attrs.calendar.sec')%></label>
                <div class="col-sm-7">
                  <input name="event-second" type="number" class="form-control event-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-7">
                  <button type="button" class="btn btn-primary event-save">
                    <%=__('templates.default.attrs.calendar.eventSave')%>
                  </button>
                </div>
              </div>
            </div>

            <div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#sch-occurs" aria-controls="home" role="tab" data-toggle="tab">
                    <%=__('templates.default.attrs.calendar.events')%>
                  </a>
                </li>
                <li role="presentation">
                  <a href="#sch-skipped" aria-controls="profile" role="tab" data-toggle="tab">
                    <%=__('templates.default.attrs.calendar.skips')%>
                  </a>
                </li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="sch-occurs">
                  <div>
                    <button type="button" class="btn btn-primary">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><%=__('templates.default.attrs.calendar.add')%>
                    </button>
                  </div>
                  <div class="sch-occurs-container"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="sch-skipped">
                  <div>
                    <button type="button" class="btn btn-primary">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><%=__('templates.default.attrs.calendar.add')%>
                    </button>
                  </div>
                  <div class="sch-skipped-container"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="imodal-box-footer">
          <div class="form-group pull-right" style="padding: 20px">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <%=__('templates.default.attrs.calendar.cancel')%>
          </button>
          <button type="button" class="btn btn-primary sch-save">
            <%=__('templates.default.attrs.calendar.schSave')%>
          </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
