<!-- file -->
<div class="form-group <%= field.required?"required":"" %> <%=cssFromTags(field)%>" style="<%=styleFromTags(field)%>"
     data-type="file" data-prop="<%= JSON.stringify(field) %>">
  <label for="<%= id %>" class="col-md-2 col-sm-3 control-label"><%= field.caption %><% include help-sign %></label>
  <div class="col-md-10 col-sm-9">
    <% var file = prop.getValue(); %>
    <% if (file) { %>
    <p class="form-control-static file-frame">
      <a href="<%= file.link %>" target="_blank" class="file-frame-title"><%=file.name%></a>
      <span class="remove-file-btn glyphicon glyphicon-remove text-danger ml10" title="<%=__('templates.default.attrs.file.del')%>"></span>
    </p>
    <% } %>
    <div class="uploader" data-url="/registry/upload" <% if (file) { %>style="display:none;"<% } %>>
      <input type="hidden" id="<%= id %>" name="<%= prop.getName() %>" class="attr-value">
      <div class="uploader-input">
        <input type="file" class="uploader-input-file">
        <div class="uploader-dropzone">
          <div class="uploader-dropzone-h1"><%=__('templates.default.attrs.file.drop')%></div>
          <div class="uploader-dropzone-h2"><%=__('templates.default.attrs.file.choose')%></div>
        </div>
      </div>
      <div class="uploader-overflow"><%=__('templates.default.attrs.file.overflow')%></div>
      <div class="uploader-list clearfix">
        <div class="uploader-item pending sample">
          <div class="uploader-thumb"><div></div></div>
          <div class="uploader-signs">
            <div class="uploader-sign-pending fa fa-refresh fa-spin"></div>
            <div class="uploader-sign-processing fa fa-refresh fa-spin"></div>
            <div class="uploader-sign-done glyphicon glyphicon-ok"></div>
            <div class="uploader-sign-failed glyphicon glyphicon-ban-circle"></div>
          </div>
          <div class="uploader-remove" title="<%=__('templates.default.attrs.del')%>"><span class="glyphicon glyphicon-remove"></span></div>
          <div class="uploader-info">
            <div class="uploader-filename"><%=__('templates.default.attrs.file.file')%></div>
            <div class="progress progress-xxs"><div class="progress-bar"></div></div>
            <div class="uploader-message"><%=__('templates.default.attrs.file.wait')%></div>
          </div>
        </div>
      </div>
    </div>
    <p class="error-block"></p>
  </div>
</div>
