<!-- file-uploader -->

<%

var opts = Object.assign({}, field.options, {maxFiles: 1});

%>

<div class="form-group <%= field.required?"required":"" %> <%=cssFromTags(field)%>"
     style="<%=styleFromTags(field)%>" data-type="file" data-prop="<%= JSON.stringify(field) %>">
  <label for="<%= id %>" class="col-md-2 col-sm-3 control-label"><%= field.caption %><% include help-sign %></label>
  <div class="col-md-10 col-sm-9">
    <% var file = prop.getValue();
    %>
    <% if (file) { 
      const escapedId = id.replace(/(:|\.|\[|\]|,|=|@)/g, '_'); %>
    <p data-fileid="<%=file.id%>" class="form-control-static file-frame">

      <a href="<%=file.link%>" target="_blank" class="file-frame-title"><%=file.name%></a>
      <span class="remove-file-btn glyphicon glyphicon-remove text-danger ml10" title="Удалить файл"></span>

      <% if (Array.isArray(field.tags) && field.tags.indexOf('share') >= 0) { %>
      <button type="button" class="btn btn-primary btn-lg share-dlg-btn" data-toggle="modal" data-target="#share_<%= escapedId %>">
        <span class="glyphicon glyphicon-cloud-download" title="sharing"></span>
      </button>
      <div class="modal fileupload fade" id="share_<%= escapedId %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Sharing</h4>
            </div>
            <div class="modal-body" data-fileid="<%=file.id%>">
              <div class="form-group">
                <label>Ссылка</label>
                <div class="input-block">
                  <input type="text" class="link form-control attr-value" id="share_<%= escapedId %>_link" value="" readonly />
                  <span class="copy-clip glyphicon glyphicon-copy" data-copytarget="#share_<%= escapedId %>_link" title="copy"></span>
                </div>
              </div>
              <div class="form-group">
                <label>Внешняя ссылка</label>
                <br/>
                <div class="share-file-menu-btn-wrap">
                  <input class="share-file-menu-btn" id="share_<%= escapedId %>_sharebtn" type="checkbox" />
                  <label for="share_<%= escapedId %>_sharebtn">Поделиться ссылкой</label>
                </div>
                <div class="share-block">
                  <div class="input-block">
                    <input type="text" class="share-link form-control attr-value" id="share_<%= escapedId %>_sharelink" value="" readonly />
                    <span class="copy-clip glyphicon glyphicon-copy" data-copytarget="#share_<%= escapedId %>_sharelink" title="copy"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    </p>
    <% } %>
    <div class="uploader" 
      <% if (item.getItemId()) { %>
        data-url="<%=module%>/api/upload/<%= item.getClassName() %>/<%= item.getItemId() %>" 
      <% } else { %>
        data-url="<%=module%>/api/upload/<%= item.getClassName() %>"
      <% } %>
      data-attr="<%= prop.getName() %>" <% if (file) { %>style="display:none;"<% } %>
      data-options="<%=JSON.stringify(opts)%>" >
      <input type="hidden" id="<%= id %>" name="<%= prop.getName() %>"
             value="<%= file ? file.id : '' %>"
             class="attr-value">
      <div class="uploader-input">
        <input type="file" class="uploader-input-file">
        <div class="uploader-dropzone">
          <div class="uploader-dropzone-h1"><%=__('templates.default.attrs.file.drop')%></div>
          <div class="uploader-dropzone-h2"><%=__('templates.default.attrs.file.choose')%></div>
        </div>
      </div>
      <div class="uploader-overflow"><%=__('templates.default.attrs.file.overflow')%></div>
      <div class="uploader-list clearfix">
        <div class="uploader-item pending sample">
          <div class="uploader-thumb"><div></div></div>
          <div class="uploader-signs">
            <div class="uploader-sign-pending fa fa-refresh fa-spin"></div>
            <div class="uploader-sign-processing fa fa-refresh fa-spin"></div>
            <div class="uploader-sign-done glyphicon glyphicon-ok"></div>
            <div class="uploader-sign-failed glyphicon glyphicon-ban-circle"></div>
          </div>
          <div class="uploader-remove" title="<%=__('templates.default.attrs.del')%>"><span class="glyphicon glyphicon-remove"></span></div>
          <div class="uploader-info">
            <div class="uploader-filename"><%=__('templates.default.attrs.file.file')%></div>
            <div class="progress progress-xxs"><div class="progress-bar"></div></div>
            <div class="uploader-message"><%=__('templates.default.attrs.file.wait')%></div>
          </div>
        </div>
      </div>
    </div>
    <p class="error-block"></p>
  </div>
</div>
