<!-- labels -->
<div class="form-group <%= field.required?"required":"" %> <%=cssFromTags(field)%>"
     style="<%=styleFromTags(field)%>"
     data-link-class="<%= prop.meta.itemsClass %>"
     data-label-class="<%= prop.meta.refClass %>"
     data-type="labels">
    <label for="<%= id %>" class="col-md-2 col-sm-3 control-label"><%= field.caption %><% include help-sign %></label>
    <div class="col-md-10 col-sm-9">
        <div class="form-control-box">
            <div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
            <select id="<%= id %>" name="<%= prop.getName() %>" class="form-control attr-value"
                    multiple size="1" data-placeholder="<%= field.caption %>"></select>
        </div>
        <p class="error-block"></p>
    </div>
</div>
