<!-- number -->
<%
  var mask = field.mask || {alias: 'integer', rightAlign: false};
%>
<div class="form-group <%= field.required?"required":"" %> <%=cssFromTags(field)%>" style="<%=styleFromTags(field)%>"
     data-type="number" data-prop="<%= JSON.stringify(field) %>">
    <label for="<%= id %>" class="col-md-2 col-sm-3 control-label"><%= field.caption %><% include help-sign %></label>
    <div class="col-md-10 col-sm-9">
        <input type="number" class="form-control attr-value" id="<%= id %>" name="<%= prop.getName() %>"
              data-mask="<%= typeof mask === 'object' ? JSON.stringify(mask) : mask %>"
              <% if (field.options) { %>
                <% if (field.options.min) { %>
                  min="<%= field.options.min %>"
                <% } %>
                <% if (field.options.max) { %>
                  max="<%= field.options.max %>"
                <% } %>
              <% } %>
              value="<%= prop.getDisplayValue() %>">
        <p class="error-block"></p>
    </div>
</div>
