<!-- _static -->
<div class="form-group <%=cssFromTags(field)%>" style="<%=styleFromTags(field)%>"
     data-type="static" data-prop="<%= JSON.stringify(field) %>" data-id="<%=id%>">
    <label class="col-md-2 col-sm-3 control-label"><%= field.caption %><% include help-sign %></label>
    <div class="col-md-10 col-sm-9">
      <%if (field.type == FieldTypes.DATE_PICKER ) {%>
        <input id="<%= id %>" readonly name="<%= prop.getName() %>"
               class="form-control form-static-value"
               value="<%= prop.getValue() ? utils.dateCallback(prop.getValue(), true, true) : '' %>"
               parse-tz="<%=(prop.meta.mode !== 0) ? 'true' : 'false'%>" style="display: none;"/>
      <%} else if (field.type == FieldTypes.DATETIME_PICKER ) {%>
        <input id="<%= id %>" readonly name="<%= prop.getName() %>"
               class="form-control form-static-value"
               value="<%= prop.getValue() ? utils.dateCallback(prop.getValue(), false, true) : '' %>"
               parse-tz="<%=(prop.meta.mode !== 0) ? 'true' : 'false'%>" style="display: none;"/>
      <%} else if (field.type == FieldTypes.CHECKBOX ) {%>
        <p class="form-control-static">
          <% var checkbox_value = (prop.getValue() !== null)
            ? prop.getValue() :(!(prop.meta.nullable) ? false : null); %>
          <input id="<%= id %>" type="checkbox" name="<%= prop.getName() %>" class="default-icheck form-control"
                 nullable=<%= prop.meta.nullable %>
                 <%= (checkbox_value === null) ?'indeterminate=true':((checkbox_value)?'checked':'') %>
                 disabled <% if (prop.getValue()) { %>checked<% } %> />
        </p>
      <%} else if (field.type == FieldTypes.URL ) {%>
        <input type="hidden"  name="<%= prop.getName() %>" id="<%= id %>"
               class="form-static-value" value="<%= prop.getDisplayValue() %>">
        <p class="form-control-static">
          <a href="<%= prop.getDisplayValue() %>" target="_blank" class="break-word"><%= prop.getDisplayValue() %></a>
        </p>
      <%} else if (field.type == FieldTypes.COMBO) {%>
          <input type="hidden" name="<%= prop.getName() %>" id="<%= id %>"
                 class="form-static-value attr-value" value="<%= prop.getValue() || '' %>">
          <p class="form-control-static">
            <%= prop.getDisplayValue() %>
          </p>
      <%} else if (field.type == FieldTypes.MULTILINE) {%>
          <textarea name="<%= prop.getName() %>" id="<%= id %>" rows="4" readonly
                    class="form-control"><%= prop.getDisplayValue() %></textarea>
      <%} else if (field.type == FieldTypes.IMAGE) {%>
        <%
          var f = prop.getValue();
          if (f) {
            var lnk = f.link;
            if (f.thumbnails && f.thumbnails.small) {
              lnk = f.thumbnails.small.link;
            }
        %>
        <p class="form-control-static file-frame">
          <a href="<%= f.link %>" target="_blank" class="file-frame-title">
            <img src="<%=lnk%>" alt="<%=f.name%>" />
          </a>
          <a href="<%= f.link %>" target="_blank" class="file-frame-title">
            <img src="<%=lnk%>" alt="<%=f.name%>" />
          </a>
        </p>
        <% } %>
      <%} else if (field.type == FieldTypes.IMAGE_SCAN) {%>
        <%
          var IS_F = prop.getValue();
          if (IS_F) {
            var IS_L = IS_F.link;
            if (IS_F.thumbnails && IS_F.thumbnails.small) {
              IS_L = IS_F.thumbnails.small.link;
            }
        %>
        <p class="form-control-static file-frame">
          <a href="<%= IS_F.link %>" target="_blank" class="file-frame-title">
            <img src="<%=IS_L%>" alt="<%=IS_F.name%>" />
          </a>
        </p>
        <% } %>
      <%} else if (field.type == FieldTypes.FILE) {%>
        <% var file = prop.getValue();%>
        <% if (file) { %>
        <p data-fileid="<%=file.id%>" class="form-control-static file-frame">
          <a href="<%=file.link%>" target="_blank" class="file-frame-title"><%=file.name%></a>
        </p>
        <% } %>
      <%} else if (field.type == FieldTypes.ATTACHMENTS) {%>
      <%
        var files = prop.getValue();
        var fileIds = [];
        files = files instanceof Array ? files : files ? [files] : null;
        if (files && Array.isArray(files)) {
          for (var i = 0; i < files.length; i++) {
            fileIds.push(files[i].id);
      %>
      <p  data-fileid="<%=files[i].id%>" class="form-control-static file-frame">
        <a href="<%= files[i].link %>" target="_blank" class="file-frame-title"><%=files[i].name%></a>
      </p>
      <% }} %>
      <% } else { %>
          <input id="<%= id %>" type="hidden" name="<%= prop.getName() %>"
                 class="attr-value" value="<%= prop.getValue() || '' %>">
      <div class="form-control-static">
        <%- prop.getDisplayValue() %>
      </div>
      <% } %>
        <p class="error-block"></p>
    </div>
</div>